    <div class="chat-header">
      <div class="chat-room-name">
        <%= @room.name %>
      </div>
      <div class="chat-finish-btn">
        <a href="#">チャットを終了する</a>
      </div>
    </div>

    <div class="chat-contents">
      <%= render partial: "message",collection: @messages %>
    </div>
<%= form_with model: [@room, @message], class: 'chat-form', local: true do |f| %>
  <div class="message-form">
    <%= f.text_field :content, class: 'message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send' %>
<% end %>